.root {
  flex-grow: 1;
  margin-top: 64px;

  .appbar {
    .toolbar {
      display: flex;
      justify-content: space-between;

      .title {
        font-weight: 700;
      }
      .button {
        color: white;
        font-weight: 900;
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    padding: 30px 0 10px 0;
  }
}