.root {
  padding: 10px;
  
  .body {
    display: grid;
    grid-template-columns: auto 300px;
    grid-column-gap: 15px;

    .graphs {
      display: grid;
      grid-template-columns: auto;
      padding: 10px;

      .graph {
        // width: 500px;
      }
    }
  }
}

.panel {
  padding: 10px;

  .twocolumn {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
  }
}

.dataset {
  height: 90vh;
  display: grid;
  grid-template-columns: auto 300px;
  column-gap: 20px;
}